<%= form_for(@invoice) do |f| %>
  <table>
    <tr><td><%= f.text_field :total_price %></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <%= f.fields_for :invoice_items, invoice_item do |g| %>
        <tr>
          <td><%= g.text_field :price %></td>
          <% unless invoice_item.new_record? %>
            <td><%= g.check_box :_destroy %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  
  <br />
  
  <%= f.submit "Save" %>
<% end %>

<h1>Listing invoices</h1>

<table>
  <tr>
    <th>Total price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.total_price %></td>
      <td><%= link_to 'Show', invoice %></td>
      <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
